.profile {
  margin: 0 auto;
  padding: 100px 100px;
  width: 350px;
  background-color: rgb(179, 200, 240);
}

.description {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgb(247, 220, 220);
}

.avatar {
  display: block;
  max-width: 100%;
  height: auto;
  width: 60%;
  margin: 0 auto;
  border-radius: 50%;
  background-color: white;
}

p {
  margin-top: 10px;
  margin-bottom: 0;
}

.name,
.quantity {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.tag,
.location,
.label {
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: darkslategrey;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  background-color: rgb(129, 224, 158);
}

.stats_item {
  display: flex;
  flex-basis: calc(100% / 3);
  align-items: center;
  flex-direction: column;
  border: 1px solid #afb1b8;
}
