.transaction_history {
  margin: 0 auto;
  width: 550px;
  text-align: center;
  border: 1px solid darkblue;
}

thead {
  background-color: rgb(43, 113, 241);
  color: aliceblue;
  height: 40px;
}

.odd {
  background-color: rgb(150, 233, 205);
}

.even {
  background-color: rgb(229, 233, 238);
}
