.transaction_history {
  margin: 0 auto;
  width: 550px;
  background-color: rgb(179, 200, 240);
  text-align: center;
  border: 1px solid darkblue;
}

/* tbody tr:nth-child(odd) {
  background-color: #ff33cc;
} */

tbody tr:nth-child(even) {
  background-color: #21f521;
}
